.mainCalculator__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.mainCalculator__user {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 35px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.mainCalculator__btn-exit {
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 167, 172, 0.13)), to(rgba(29, 29, 53, 0.9)));
  background: linear-gradient(180deg, rgba(167, 167, 172, 0.13), rgba(29, 29, 53, 0.9) 100%);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
}
.mainCalculator__tabs {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.mainCalculator__tabs button {
  padding: 12px 25px;
  background: rgba(6, 6, 6, 0.34);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.mainCalculator__tabs button.active {
  border-bottom: 1px solid orange;
}
.mainCalculator__grid {
  display: grid;
  grid-template-columns: minmax(830px, 70%) minmax(200px, 30%);
  grid-column-gap: 50px;
}
.mainCalculator__main-block {
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 167, 172, 0.13)), to(rgba(29, 29, 53, 0.9)));
  background: linear-gradient(180deg, rgba(167, 167, 172, 0.13), rgba(29, 29, 53, 0.9) 100%);
  padding: 50px;
}