.registration {
    margin-top: 100px;
		// .registration__container

		&__container {}

		// .registration__title

		&__title {
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 40px;
            font-weight: 700;
            line-height: 47px;
            text-align: center;
            margin-bottom: 52px;
        }

		// .registration__block-form

		&__block-form {
            margin: 0 auto;
            max-width: 450px;
            width: 100%;
            box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
            background: linear-gradient(180.00deg, rgba(167, 167, 172, 0.13),rgba(29, 29, 53, 0.9) 100%);
            padding: 62px 60px;
        }

		// .registration__block-input

		&__block-input {
            margin-bottom: 30px;
        }

		// .registration__lb

		&__lb {
            display: inline-block;
            margin-bottom: 15px;
            text-align: center;
            width: 100%;
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 19px;
            font-weight: 700;
            line-height: 28px;
            
        }

		// .registration__inp

		&__inp {
            display: block;
            width: 100%;
            height: 30px;
            padding: 0px 20px;
            border-radius: 4px;
            background: rgb(255, 255, 255);
        }
        
        button{
            display: block;
            max-width: 185px;
            width: 100%;
            height: 45px;
            margin: 0 auto;
            color: rgb(0, 0, 0);
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            border-radius: 4px;
            background: rgb(255, 255, 255);
            &:disabled{
                color: rgb(163, 151, 151);
                cursor:wait;
            }
        }
         &__success{
            text-align: center;
            font-size: 20px;
            color: green;
            font-weight: 600;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
        }
        span{
            font-size: 25px;
            font-weight: 700;
        }
}

.block-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    a{
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    }
}

