.header {
        padding-top: 20px;
		// .header__container

		&__container {}

		// .header__list

		&__list {
            display: flex;
            gap: 50px;
            justify-content: center;
            align-items: center;
        }

		// .header__li

		&__li {
                color: rgb(255, 255, 255);
                font-family: Roboto;
                font-size: 48px;
                font-weight: 700;
                line-height: 56px;
                text-align: left;
                text-transform: uppercase;
        }
}

