.header {
        padding-top: 120px;
		// .header__container

		&__container {}

		// .header__list

		&__list {
            display: flex;
            gap: 50px;
            justify-content: center;
            align-items: center;
        }

		// .header__li

		&__li {}
}

