.saved-calculations {
        margin-top: 50px;
		// .saved-calculations__container

		&__container {
                
        }

        &__block{
            box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
            background: linear-gradient(180.00deg, rgba(167, 167, 172, 0.13),rgba(29, 29, 53, 0.9) 100%);
            padding: 40px 50px;
        }

		// .saved-calculations__title

		&__title {
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            text-decoration-line: underline;
            margin-bottom: 25px;
        }

		// .saved-calculations__grid

		&__grid {
            display: grid;
            
            grid-template-columns: repeat(3, auto);
            grid-row-gap: 30px;
           justify-content: space-between;
            
        }

		// .saved-calculations__item

		&__item {
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            width: auto;
            display: flex;
            gap: 30px;
            &:hover{                
                button{
                    transition: all 0.3s ease 0s;
                    opacity: 1;
                    overflow:visible;
                    visibility:visible;
                }
            }
            button{
                background-color: transparent;
                color: white;
                font-weight: 400;
                font-size: 20;
                transition: all 0.3s ease 0s;
                opacity: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
}

